
/*Tipo de letra*/
@font-face{
    font-family: "coolvetica";
    src: url(coolvetica/coolvetica\ rg.otf);
}


body {
    background-color: black;
    padding: 0;
    margin: 0;
    display: block;
    font-family: coolvetica;
    color: white;
}

header {
    padding: 0px;
    margin: 0px 0px 100px 0px;
    display: block;
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: block;
}



/* Navigation Bar */
/* Navigation Bar */
.headerNav {
    padding: 0;
    margin: 0;
    background-color: rgb(5, 0, 3);
    width: 100%;
    height: 100px;
    display: flex;
    position:fixed;
    top: 0;
    z-index: 1000; 
}

.headerNav img{
    width: 10%;
    height: auto;
    padding: 0px 0px 0px 35px;
}

.navBarNavi {
    margin: 18px 0px 0px 20%;
    align-items: center;
}

.backgroundContainer div{
    border-radius: 20px;
}

.backgroundContainer{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: black;
    border-radius: 30px;
}

.navBarNavi a{
    margin: 10px 0px 0px 0px;
    padding: 10px;
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

.navBarNavi div a input {
    font-size: 20px;
    border-radius: 30px;
    border: none;
    margin-left: 10px;
    padding: 5px 0px 5px 10px;
}

.navBarNavi .icon {
    display: none;
    float:right;
    border-radius: 30px;
    margin-top: -10px;margin-right: 0px;
    border-left-style: solid;
    border-left-width: 0px;
    margin-left: 400px;
}

.navBarNavi a:hover{
    border-bottom: 5px solid #f9b233;
}

  
  @media screen and (max-width: 1100px ) {
    .navBarNavi a{display: none;}
    .navBarNavi a.icon {
        float: right;
        display: block;
    }
}
  
  @media screen and (max-width: 1100px  ) {
    .navBarNavi.responsive {position: relative;}
    .navBarNavi.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .navBarNavi.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/*Main*/


.StarterContainer {
    height: 2800px;
    width: 100%;
    display: flex;
}

.mainContainer {
    width: 100%;
}

.subMainContainer {
    margin-top: 20px;
    padding-right: 120px;
    margin-right: 120px;
    margin-left: 140px;
    padding-left: 120px;
    padding-top: 90px;
    height: 2600px; /*para ajustar o tamanho do main*/
    background-color: rgb(34,34,34);
}

.InfoContainer {
    width: 1000px;
    background-color: rgb(99,99,99);
    font-size: x-large;
    position: relative;
    border-radius: 5px;
    display: flex;
    border: 5px solid orangered; 
}

.subInfoContainer {
    position: relative;
    flex: 1; 
}

.subInfoContainer img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.textContainer {
    flex: 1;
    padding: 10px;
    margin: 20px 20px;
    border-radius: 10px;
}

.price{
    font-size: xx-large;
}

.tagprice {
    font-size: xx-large;
    border-bottom: 5px solid #f9b233;
    margin-left: 20px;
}

.SpaceStarter {
    margin-top: 5px;
    padding-top: 15px;
}

.spacerButtons {
    padding-top: 10px;
    border-radius: 0px;
}

.buybutton {
    width: 400px;
    font-size: large;
    padding: 5px;
    background: orangered;
    color:white;
}

.buybutton:hover{
    background-color: white;
    color: black;
}

.addcartbutton:hover {
    background-color: white;
    color: black;
}

.addcartbutton{
    width: 400px;
    font-size: large;
    padding: 5px;
    background-color: black;
    border-radius: 0px;
    color: white;
}

.descriptionContainer{
    margin-top: 50px;
    padding: -10px;
    background-color: rgb(99,99,99);
    display: block;
    border-radius: 10px;
    height: 320px;
}

.textDescript {
    padding: 20px;
    font-size: large;
}

.descriptionContainer div {
    height: 200px;
}

.youtubeContainer{
    display: flex;
    align-items: center;
}

.youtubeContainer{
    margin-top: 50px;
    margin-left: 200px;
}

.youtubeContainer div iframe{
    width: 700px; 
    height: 450px;
}

.itemMainContainer {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(34,34,34);
}

.item {
    width: calc(400px - 20px);
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(99,99,99);
    font-size: x-large;
    position: relative; 
    border-radius: 5px;
}

.imageContainer {
    position: relative;
}

.imageContainer img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.textOverImage {
    position: absolute;
    bottom: 10px; 
    left: 10%; 
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    background-color: orangered;
    padding: 5px;
}

.item img {
    width: 100%;
    height: auto;
}

.textItem {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    position: relative; 
    z-index: 2; 
    font-size: x-large;
}

.Specs a {
    font-size: x-large;
}

.SpecsContainer {
    margin-top: 50px;
    padding: -10px;
    background-color: rgb(99,99,99);
    display: block;
    border-radius: 10px;    
}

.SpecsContainer div p{
    padding: 20px;
    font-size: x-large;
}

.recomendados {
    margin-top: 40px;
    font-size: xx-large;
    border-bottom: 5px solid #f9b233;
}

.endrecomendados {
    border-bottom: 5px solid #f9b233;
}

.subMainContainer2 {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(34,34,34);
}



.item2 {
    width: calc(25% - 20px);
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(99,99,99);
    font-size: x-large;
    position: relative; 
    border-radius: 5px;
}

.imageContainer2 {
    position: relative;
}

.imageContainer2 img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.textOverImage2 {
    position: absolute;
    bottom: 10px; 
    left: 10%; 
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    background-color: orangered;
    padding: 5px;
}

.item2 img {
    width: 100%;
    height: auto;
}

.item2 :hover {
    opacity: 0.7;
}

.textItem2 {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    position: relative; 
    z-index: 2; 
    font-size: x-large;
}


/*footer*/

.footerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcons a img {
    width: 5%;
    margin: 0 20px; 
}

.footerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcons a {
    margin: 0 10px; 
}

.footerIcons a img {
    width: 80px; 
}

.footerIcons a img:hover {
    opacity: 0.7; 
}

.footerIcons a:last-child {
    margin-right: 0; 
}

.footer2 a{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}