

body {
    background-color: rgb(89,89,89);
    padding: 0;
    margin: 0;
}

.navbarContainer{
    width: 100%;
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}


.navbar {
    background-color: black;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarul{
    list-style-type: none;
    margin: 50%;
    padding: 0;
}

.navbarul li{
    display: inline-block;
    margin-right: 10px;
}

.navbarA{
    color: white;
    text-decoration: none;
}



.logo {

    height: 80px;
    padding: 0;
    margin: 0;
}
